@import "_main";
@import "_extend";


/*------------------------- 表單 -------------------------*/

.l-form {
	display:block;
	background:$u-color-white;
	border:$-u-border-black;
	@extend %-u-border-radius-s;
	&__row {
		// 最後一列
		&:last-child {
			border:none;
			//表單的 input
			input[type=text], [type=password], [type=email], [type=tel] {
				border:none;
			}
			.o-option__btn {
				border:none;
			}
			.o-select__form { 
				li {
					border:none;
				}
			}
			// 最後一列的，最後一格的表單資料，取消border
			.l-form__content {
				&--info {
					border:none;
				}
			}
		}
	}
	// 表格
	&__content {
		border-right:$-u-border-mediumgrey;
		// 最後一格
		&:last-child {
			border-right:none;
		}
		.o-radio, .o-checkbox {
			padding-right:14px;
			padding-left:14px;
			padding-top:15px;
			padding-bottom:15px;
			border-bottom:$-u-border-mediumgrey;
			&:last-child {
				border:none;
			}
		}
		// 表單資料
		&--info {
			padding-top:10px;
			padding-bottom:10px;
			padding-right:14px;
			padding-left:14px;
			overflow:hidden;
			font-weight:bold;
			border-right:$-u-border-mediumgrey;
			border-bottom:$-u-border-mediumgrey;
			&:last-child {
				border-right:none;
			}
		}
		&--info--NOBD  {
			padding-top:10px;
			padding-right:14px;
			padding-left:14px;
			overflow:hidden;
			font-weight:bold;
			border-right:$-u-border-mediumgrey;
			&:last-child {
				border-right:none;
			}
		}
	}
}


/*-------------------------------------------------------------- mobile --------------------------------------------------------------*/
@media screen and (max-width:599px) {
	/*-- 輸入表單 --*/
	.l-form {
		margin-bottom:30px;
		&:last-child {
			margin-bottom:0;
		}
		&__row {
			// 最後一列
			&:last-child {
				.o-select__form { 
					li {
						border-bottom:$-u-border-mediumgrey;
					}
				}
			}
		}
		&__content {
			&:nth-child(2) {
				border-right:none;
			}
			&:last-child {
				border-right:none;
			}
			&.col-xl {
				border-right:none;
			}
			&.col-xxl {
				border-right:none;
			}
		}
	}
}


/*-------------------------------------------------------------- tablet --------------------------------------------------------------*/
@media screen and (min-width:600px) and (max-width:1023px) {
	.l-wrap {
		width:580px;
	}
	/*-- 輸入表單 --*/
	.l-form {
		margin-bottom:50px;
		&:last-child {
			margin-bottom:0;
		}
	}
}


/*-------------------------------------------------------------- pc --------------------------------------------------------------*/
@media screen and (min-width:1024px) {
	.l-wrap {
		width:620px;
	}
	/*-- 輸入表單 --*/
	.l-form {
		&:last-child {
			margin-bottom:0;
		}
		margin-bottom:50px;
		&__row {
			// 最後一列
			&:last-child {
				.o-select__form { 
					li {
						border:none;
					}
				}
			}
		}
	}
}