<% @page = "payment" %>
<% content_for :page_title do %>
<title>BEMO Coffee｜元件</title>
<% end %>
<% content_for :page_css do %>
<link rel="stylesheet" href="<%= $pathOfRoot %>/Content/css/form.css"/>
<% end %>
<div class="site-content l-docking">
	<div class="l-wrap">
		<H4 class="t-section t4">文字</H4>
		<span class="smallFont">Header 1</span><H1 class="t1">Showers across the W</H1>
		<span class="smallFont">Header 2</span><H2 class="t2">Give this quartet a few</H2>
		<span class="smallFont">Header 3</span><H3 class="t3">Give this quartet a few</H3>
		<span class="smallFont">Header 4</span><H4 class="t4">Give this quartet a few</H4>
		<span class="smallFont">Header 5</span><H5 class="t5">Give this quartet a few</H5>
		<span class="smallFont">Header 6</span><H6 class="t6">Give this quartet a few</H6>
		<span class="smallFont">Paragraph</span><p>段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字。段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字。段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字。段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字。段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字，段落文字。</p>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">選項</H4>
		<form class="l-form">
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-radio error" data-error-target="error_format_09">
						<input type="radio" name="option" value="1" id="radio1" class="o-radio__input">
						<label class="o-radio__tex" for="radio1">選項一</label>	
					</div>
					<div class="o-radio">
						<input type="radio" name="option" value="1" id="radio2" class="o-radio__input">
						<label class="o-radio__tex" for="radio2">選項一</label>
					</div>
					<div class="o-radio">
						<input type="radio" name="option" value="1" id="radio3" class="o-radio__input">
						<label class="o-radio__tex" for="radio3">選項一</label>
					</div>
				</div>
			</div>
		</form>
		<form class="l-form">
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-checkbox error" data-error-target="error_format_08">
						<input type="checkbox" name="option" value="1" id="checkbox1" class="o-checkbox__input">
						<label class="o-checkbox__tex" for="checkbox1">選項一</label>
					</div>
					<div class="o-checkbox">
						<input type="checkbox" name="option" value="1" id="checkbox2" class="o-checkbox__input">
						<label class="o-checkbox__tex" for="checkbox2">選項二</label>
					</div>
					<div class="o-checkbox">
						<input type="checkbox" name="option" value="1" id="checkbox3" class="o-checkbox__input">
						<label class="o-checkbox__tex" for="checkbox3">選項三</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">輸入框</H4>
		<form class="l-form">
			<div class="l-form__row">
				<div class="l-form__content">
					<input type="text" placeholder="文字輸入框">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<input type="password" placeholder="密碼輸入框">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<input type="email" placeholder="E-mail輸入框">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<input type="tel" placeholder="電話輸入框">
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">下拉選單</H4>
		<form class="l-form">
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">另開選項</H4>
		<form class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label class="o-option">
						<div class="o-option__btn" data-blank-target="o-option__blank">選項按鈕</div>
						<div class="o-option__blank--option">
							<select class="o-option__tex--01">
								<option value="1">請選擇</option>
								<option value="2">選項一</option>
								<option value="3">選項二</option>
								<option value="4">選項三</option>
							</select>
						</div>
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">表單</H4>
		<form class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="中文姓名">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="手機號碼">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-xl">
					<input type="text" placeholder="收件地址">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<input type="tel" placeholder="電話輸入框">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label>
						<div class="o-option__btn">另開選項按鈕</div>
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">表單 錯誤</H4>
		<form class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input class="error" type="text" placeholder="中文姓名" data-error-target="error_format_01">
				</div>
				<div class="l-form__content col-xl">
					<input class="error" type="tel" placeholder="手機號碼" data-error-target="error_format_02">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-md">
					<div class="o-select__form error" data-error-target="error_format_03">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-md">
					<div class="o-select__form error" data-error-target="error_format_04">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-xl">
					<input class="error" type="text" placeholder="收件地址" data-error-target="error_format_05">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<input class="error" type="tel" placeholder="電話輸入框" data-error-target="error_format_06">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label>
						<div class="o-option__btn error" data-error-target="error_format_07">另開選項按鈕</div>
					</label>
				</div>
			</div>
		</form>
		<span class="o-error--MSG" data-error-id="error_format_01">請輸入正確姓名</span>
		<span class="o-error--MSG" data-error-id="error_format_02">手機號碼格式錯誤</span>
		<span class="o-error--MSG" data-error-id="error_format_03">請選擇縣市</span>
		<span class="o-error--MSG" data-error-id="error_format_04">請選擇地區</span>
		<span class="o-error--MSG" data-error-id="error_format_05">收件地址格式錯誤</span>
		<span class="o-error--MSG" data-error-id="error_format_06">聯絡電話格式錯誤</span>
		<span class="o-error--MSG" data-error-id="error_format_07">另開選項錯誤訊息</span>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">按鈕</H4>
		<div class="c-button">
			<div class="c-button__column--one">
				<button type="submit" class="c-button__main c-button__large">主要按鈕</button>
			</div>
		</div>
		<div class="c-button">
			<div class="c-button__column--one">
				<button type="button" class="c-button__sec c-button__large">次要按鈕</button>
			</div>
		</div>
		<div class="c-button">
			<div class="c-button__column--two">
				<button type="button" class="c-button__sec c-button__large">次要按鈕</button>
				<button type="submit" class="c-button__main c-button__large">主要按鈕</button>
			</div>
		</div>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">表單資料</H4>
		<form class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content--info col-lg">
					項目內容
				</div>
				<div class="l-form__content--info col-lg">
					項目內容
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content--info col-xxl">
					<div class="c-item">
						<span class="c-item__title">項目標題</span>
						<span class="c-item__detail">內容內容內容內容內容內容內容</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<div class="o-checkbox">
			<input type="checkbox" class="o-checkbox__input" name="option_UNINUM" id="option_UNINUM" data-GUI-target="option_UNINUM" value="">
			<label class="o-checkbox__tex" for="option_UNINUM">需要開統一編號</label>
		</div>
		<!-- 統一編號 -->
		<form class="l-form mrBSetion" data-GUI-id="option_UNINUM">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="公司名稱">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="統一編號">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇縣市</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-xl">
					<input type="text" placeholder="詳細地址">
				</div>
			</div>
		</form>
		<div class="o-checkbox error">
			<input type="checkbox" class="o-checkbox__input" name="option_return" id="option_return" value="">
			<label class="o-checkbox__tex" for="option_return">我同意辦理退貨時，由 BEMO 代為處理電子發票及銷貨退回折讓單以加速退款作業。</label>
		</div>
	</div>
	<div class="l-wrap">
		<H4 class="t-section t4">Grid 設定</H4>
		<div class="grid">
			<div class="col col-xs">col-xs</div>
			<div class="col col-xs">col-xs</div>
			<div class="col col-xs">col-xs</div>
			<div class="col col-xs">col-xs</div>
			<div class="col col-xs">col-xs</div>
			<div class="col col-xs">col-xs</div>
		</div>
		<div class="grid">
			<div class="col col-md">col-md</div>
			<div class="col col-md">col-md</div>
			<div class="col col-md">col-md</div>
			<div class="col col-md">col-md</div>
		</div>
		<div class="grid">
			<div class="col col-lg">col-lg</div>
			<div class="col col-lg">col-lg</div>
		</div>
		<div class="grid">
			<div class="col col-xl">col-xl</div>
			<div class="col col-xl">col-xl</div>
		</div>
		<div class="grid">
			<div class="col col-xxl">col-xxl</div>
		</div>
		<div class="grid">
			<div class="col col-md">col-md</div>
			<div class="col col-md">col-md</div>
			<div class="col col-xl">col-xl</div>
		</div>
	</div>
	<div class="o-docking">
		<div class="o-docking__bottom">
			<div class="l-wrap">
				<div class="c-order__sum">
					<span class="c-order__sum--title">總金額</span>
					<span class="c-order__sum--total">$0000000</span>
				</div>
			</div>
			<div class="l-wrap">
				<div class="c-button">
					<div class="c-button__column--one">
						<button type="submit" class="c-button__main c-button__large">主要按鈕</button>
					</div>
				</div>
			</div>
			<div class="l-wrap">
				<div class="c-button">
					<div class="c-button__column--two">
						<button type="button" class="c-button__sec c-button__large">次要按鈕</button>
						<button type="submit" class="c-button__main c-button__large">主要按鈕</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>