<% @page = "payment" %>
<% content_for :page_title do %>
<title>BEMO Coffee｜元件</title>
<% end %>
<% content_for :page_css do %>
<link rel="stylesheet" href="<%= $pathOfRoot %>/Content/css/form.css"/>
<% end %>
<div class="site-content">
	<div class="l-wrap">
		<div class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content--info col-lg">
                    陳毛怪
				</div>
				<div class="l-form__content--info col-lg">
                    0900123123
				</div>
            </div>
			<div class="l-form__row grid">
				<div class="l-form__content--info col-xxl">
                    116-台北市文山區南京東路二段999號20樓
                </div>
			</div>
		</div>
	</div>
	<div class="l-wrap">
		<div class="l-form">
			<div class="c-progress">
				<ul class="c-progress__new"><!-- 最新狀態 -->
					<li>
						<div class="c-progress__new--status">訂單已出貨</div><!-- 狀態 -->
						<div>黑貓宅急便：900324056734</div><!-- 貨運單號，不見得每個狀態都有 -->
						<div>2018-11-02 16:30</div><!-- 時間 -->
					</li>
				</ul>
				<ul class="c-progress__list">
					<li>
						<div class="c-progress__list--status">訂單處理中</div><!-- 狀態 -->
						<div>2018-11-02 10:30</div><!-- 時間 -->
					</li>
					<li>
						<div class="c-progress__list--status">訂單已建立</div><!-- 狀態 -->
						<div>2018-11-02 00:28</div><!-- 時間 -->
					</li>
					<li>
						<div class="c-progress__list--status">訂單已建立</div><!-- 狀態 -->
						<div>2018-11-02 00:28</div><!-- 時間 -->
					</li>
				</ul>
				<div class="c-progress__button"><!-- 展開收合狀態按鈕 -->
					<span>完整狀態</span>
				</div>
			</div>
		</div>
	</div>
	<div class="l-wrap">
		<div class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content--info--NOBD col-xxl">
					<div class="c-item">
						<span class="c-item__title">訂單編號</span>
						<span class="c-item__detail">181102008322</span>
					</div>
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content--info col-xxl">
					<div class="c-item">
						<span class="c-item__title">訂單日期</span>
						<span class="c-item__detail">2018-11-02</span>
					</div>
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content--info col-xxl">
					<!-- 產品資訊 -->
					<div class="c-order__PD">
						<!-- 產品圖 -->
						<div class="c-order__PD--img"><img src="../content/images/product/product.png" alt=""></div>
						<div class="c-order__PD--info">
							<!-- 產品名稱 -->
							<div class="c-order__PD--name">產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱產品名稱</div>
							<!-- 產品金額及數量 -->
							<div class="c-order__PD--count">
								<!-- 產品單價 -->
								<span class="c-order__PD--price">$000</span>
								<!-- 購買數量 -->
								<span class="c-order__PD--quantity">X1</span>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="l-form__row grid">
				<div class="l-form__content--info--NOBD col-xxl">
					<div class="c-order__sum">
						<span class="c-order__sum--title">訂單金額</span>
						<span class="c-order__sum--count">$0</span>
					</div>
				</div>
				<div class="l-form__content--info col-xxl">
					<div class="c-order__sum">
						<span class="c-order__sum--title">訂單運費</span>
						<span class="c-order__sum--count">$100</span>
					</div>
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content--info col-xxl">
					<div class="c-order__sum">
						<span class="c-order__sum--title">信用卡付款</span>
						<span class="c-order__sum--total">$100</span>
					</div>
				</div>
			</div>
        </div>
    </div>
	<div class="l-wrap">
		<div class="l-form">
			<div class="l-form__row grid">
                <div class="l-form__content--info col-xxl">
                    <div class="c-item">
                        <span class="c-item__title">發票號碼</span>
                        <span class="c-item__detail">YC73006867</span>
                    </div>
                </div>
            </div>
			<div class="l-form__row grid">
                <div class="l-form__content--info col-xxl">
                    <div class="c-item">
                        <span class="c-item__title">公司名稱</span>
                        <span class="c-item__detail">股份有限公司</span>
                    </div>
                </div>
            </div>
			<div class="l-form__row grid">
                <div class="l-form__content--info col-xxl">
                    <div class="c-item">
                        <span class="c-item__title">統一編號</span>
                        <span class="c-item__detail">12345678</span>
                    </div>
                </div>
            </div>
			<div class="l-form__row grid">
                <div class="l-form__content--info col-xxl">
                    <div class="c-item">
                        <span class="c-item__title">寄送地址</span>
                        <span class="c-item__detail">116-台北市文山區南京東路二段999號20樓</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>