<% @page = "payment" %>
<% content_for :page_title do %>
<title>BEMO Coffee｜取得試喝包</title>
<% end %>
<% content_for :page_css do %>
<link rel="stylesheet" href="<%= $pathOfRoot %>/Content/css/form.css"/>
<% end %>
<div class="site-content">
	<div class="l-wrap">
		<h1 class="t-section t4">取得試喝包</h1>
	</div>
	<div class="l-wrap">
		<h2 class="t-sTitle t5">付款與收費方式</h2>
		<form class="l-form">
			<div class="l-form__row">
				<div class="l-form__content">
					<div class="o-radio">
						<input type="radio" class="o-radio__input" name="option_PM" id="option_PM_01" data-change-target="option_PM_01" value="" checked="checked">
						<label class="o-radio__tex" for="option_PM_01">7-11 取貨付款</label>	
					</div>
					<div class="o-radio">
						<input type="radio" class="o-radio__input" name="option_PM" id="option_PM_02" data-change-target="option_PM_02" value="">
						<label class="o-radio__tex" for="option_PM_02">全家、萊爾富 取貨付款</label>
					</div>
					<div class="o-radio">
						<input type="radio" class="o-radio__input" name="option_PM" id="option_PM_03" data-change-target="option_PM_03" value="">
						<label class="o-radio__tex" for="option_PM_03">7-11 取貨不付款</label>
					</div>
					<div class="o-radio">
						<input type="radio" class="o-radio__input" name="option_PM" id="option_PM_04" data-change-target="option_PM_04" value="">
						<label class="o-radio__tex" for="option_PM_04">信用卡付款</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<h2 class="t-sTitle t5">收件資料</h2>
		<!-- 7-11 取貨付款 -->
		<form class="l-form" data-change-id="option_PM_01">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="中文姓名">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="手機號碼">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label>
						<div class="o-option__btn">選擇 7-11 收件門市</div>
					</label>
				</div>
			</div>
		</form>
		<!-- 全家、萊爾富 取貨付款 -->
		<form class="l-form" data-change-id="option_PM_02">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="中文姓名">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="手機號碼">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label>
						<div class="o-option__btn">全家、萊爾富 取貨付款</div>
					</label>
				</div>
			</div>
		</form>
		<!-- 7-11 取貨不付款 -->
		<form class="l-form" data-change-id="option_PM_03">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="中文姓名">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="手機號碼">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-xxl">
					<label>
						<div class="o-option__btn">7-11 取貨不付款</div>
					</label>
				</div>
			</div>
		</form>
		<!-- 信用卡付款 -->
		<form class="l-form" data-change-id="option_PM_04">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="中文姓名">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="手機號碼">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇縣市</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-xl">
					<input type="text" placeholder="收件地址">
				</div>
			</div>
		</form>
	</div>
	<div class="l-wrap">
		<div class="o-checkbox">
			<input type="checkbox" class="o-checkbox__input" name="option_UNINUM" id="option_UNINUM" data-option-target="option_UNINUM" value="">
			<label class="o-checkbox__tex" for="option_UNINUM">需要開統一編號</label>
		</div>
		<!-- 統一編號 -->
		<form class="l-form" data-option-id="option_UNINUM">
			<div class="l-form__row grid">
				<div class="l-form__content col-xl">
					<input type="text" placeholder="公司名稱">
				</div>
				<div class="l-form__content col-xl">
					<input type="tel" placeholder="統一編號">
				</div>
			</div>
			<div class="l-form__row grid">
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇縣市</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-md">
					<div class="o-select__form">
						<select class="select selectSalary">
							<option value="1">請選擇</option>
							<option value="2">選項二</option>
							<option value="3">選項三</option>
							<option value="4">選項四</option>
							<option value="5">選項五</option>
							<option value="6">選項六</option>
						</select>
					</div>
				</div>
				<div class="l-form__content col-xl">
					<input type="text" placeholder="詳細地址">
				</div>
			</div>
		</form>
		<div class="o-checkbox">
			<input type="checkbox" class="o-checkbox__input" name="option_return" id="option_return" value="">
			<label class="o-checkbox__tex" for="option_return">我同意辦理退貨時，由 BEMO 代為處理電子發票及銷貨退回折讓單以加速退款作業。</label>
		</div>
	</div>

	<div class="o-docking">
			<div class="o-docking__bottom">
				<div class="l-wrap">
					<div class="c-sum">
						<span class="c-sum__title">總金額</span>
						<span class="c-sum__total">$0000000</span>
					</div>
				</div>
				<div class="l-wrap">
					<div class="c-button">
						<div class="c-button__column--one">
							<button type="submit" class="c-button__main c-button__large">主要按鈕</button>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>
