<% @page = "payment" %>
<% content_for :page_title do %>
<title>BEMO Coffee｜取得試喝包</title>
<% end %>
<% content_for :page_css do %>
<link rel="stylesheet" href="<%= $pathOfRoot %>/Content/css/form.css"/>
<% end %>
<div class="site-content">
	<div class="l-wrap">
		<h1 class="t-section t4">取得試喝包</h1>
		<h2 class="t-sTitle t5">付款與收費方式</h2>
		<div class="l-form">
			<div class="l-form__row grid">
				<div class="l-form__content--info col-lg">
					項目內容
				</div>
				<div class="l-form__content--info col-lg">
					項目內容
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__content--info">
					<span class="info_title">項目標題</span>
					<span class="info_detail">內容內容內容內容內容內容內容</span>
				</div>
			</div>
		</div>
	</div>
</div>
