@charset "UTF-8";
/*-- color --*/
/*-- font size --*/
/*-- font line height --*/
/*-- Grids --*/
/*-- border --*/
/*-- box-sizing --*/
/* line 3, ../sass/_extend.scss */
.o-radio__tex, .o-checkbox__tex, .o-radio__tex:before, .o-checkbox__tex:before, .o-option__btn, input[type=text], [type=password], [type=email], [type=tel], .o-select__form select, .o-select__form .transformSelect li, button, .c-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*-- Clear--*/
/*-- border-radius--*/
/* line 19, ../sass/_extend.scss */
input[type=text], [type=password], [type=email], [type=tel] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 26, ../sass/_extend.scss */
.o-checkbox__tex:before, .o-error--MSG {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 47, ../sass/_extend.scss */
button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/*-- display-inline --*/
/*-- 元件 Y軸 位移 --*/
/* line 88, ../sass/_extend.scss */
.o-radio__tex:before, .o-checkbox__tex:before {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*-- 陰影 --*/
/*- for docking bottom-*/
/* line 98, ../sass/_extend.scss */
.o-docking__bottom {
  -webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
}

/*------------------------- margin -------------------------*/
/*------------------------- 字級 -------------------------*/
/* line 9, ../sass/element.scss */
.t1 {
  font-size: 42px;
  font-weight: bold;
}

/* line 14, ../sass/element.scss */
.t2 {
  font-size: 36px;
  font-weight: bold;
}

/* line 19, ../sass/element.scss */
.t3 {
  font-size: 30px;
  font-weight: bold;
}

/* line 24, ../sass/element.scss */
.t4 {
  font-size: 24px;
  font-weight: bold;
}

/* line 29, ../sass/element.scss */
.t5 {
  font-size: 18px;
  font-weight: bold;
}

/* line 34, ../sass/element.scss */
.t6 {
  font-size: 16px;
  font-weight: bold;
}

/* line 39, ../sass/element.scss */
p {
  font-size: 16px;
}

/* line 43, ../sass/element.scss */
.smallFont {
  color: #999999;
  font-size: 14px;
}

/*-- 標題 --*/
/* line 49, ../sass/element.scss */
.t {
  /*-- 段落大標 --*/
}
/* line 51, ../sass/element.scss */
.t-section {
  text-align: center;
  margin-bottom: 20px;
}
/* line 55, ../sass/element.scss */
.t-sTitle {
  text-align: center;
  margin-bottom: 10px;
}

/*------------------------- 選項 -------------------------*/
/* line 63, ../sass/element.scss */
.o-radio, .o-checkbox {
  position: relative;
  padding-bottom: 10px;
}
/* line 66, ../sass/element.scss */
.o-radio__input, .o-checkbox__input {
  position: absolute;
  opacity: 0;
}
/* line 70, ../sass/element.scss */
.o-radio__tex, .o-checkbox__tex {
  position: relative;
  display: block;
  padding: 3px 0 3px 40px;
  cursor: pointer;
}
/* line 76, ../sass/element.scss */
.o-radio__tex:before, .o-checkbox__tex:before {
  background-color: #FFFFFF;
  position: absolute;
  content: " ";
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: #999999 1px solid;
}
/* line 90, ../sass/element.scss */
.o-radio__input:checked + .o-radio__tex:before, .o-checkbox__input:checked + .o-radio__tex:before, .o-radio__input:checked + .o-checkbox__tex:before, .o-checkbox__input:checked + .o-checkbox__tex:before {
  background-color: #2A2A2A;
  background-image: url(../images/icon/check.png);
  background-size: 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: #2A2A2A 1px solid;
}
/* line 99, ../sass/element.scss */
.o-radio.error .o-radio__tex, .o-radio.error .o-checkbox__tex, .o-checkbox.error .o-radio__tex, .o-checkbox.error .o-checkbox__tex {
  color: #D0021B;
}
/* line 101, ../sass/element.scss */
.o-radio.error .o-radio__tex:before, .o-radio.error .o-checkbox__tex:before, .o-checkbox.error .o-radio__tex:before, .o-checkbox.error .o-checkbox__tex:before {
  border: #D0021B 1px solid;
}

/*-- 單選 --*/
/* line 111, ../sass/element.scss */
.o-radio__tex:before {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/*-- 複選 --*/
/*-- 另開選項按鈕 --*/
/* line 130, ../sass/element.scss */
.o-option__btn {
  position: relative;
  width: 100%;
  color: #999999;
  padding: 13px 40px 13px 14px;
  border-bottom: #CCCCCC 1px solid;
  cursor: pointer;
}
/* line 138, ../sass/element.scss */
.o-option__btn:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 17px;
  right: 14px;
  background-image: url(../images/icon/arrow/black/right.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
}
/* line 151, ../sass/element.scss */
.o-option__btn.active {
  color: #2A2A2A;
}
/* line 154, ../sass/element.scss */
.o-option__btn.error {
  color: #D0021B;
  border-bottom: #D0021B 1px solid;
}
/* line 157, ../sass/element.scss */
.o-option__btn.error:after {
  background-image: url(../images/icon/arrow/red/right.png);
}

/*------------------------- 輸入框 -------------------------*/
/* line 165, ../sass/element.scss */
input[type=text], [type=password], [type=email], [type=tel] {
  background: transparent;
  color: #2A2A2A;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 50px;
  border: none;
  margin: 0;
  padding: 13px 14px;
  border-bottom: #CCCCCC 1px solid;
}
/* line 178, ../sass/element.scss */
input[type=text].error, [type=password].error, [type=email].error, [type=tel].error {
  color: #D0021B;
  border-bottom: #D0021B 1px solid;
}

/* line 184, ../sass/element.scss */
input:focus {
  outline: none;
}

/*-- 提示文字 --*/
/* line 189, ../sass/element.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 192, ../sass/element.scss */
::-moz-placeholder {
  color: #999999;
}

/* line 195, ../sass/element.scss */
:-moz-placeholder {
  color: #999999;
}

/* line 198, ../sass/element.scss */
:-ms-input-placeholder {
  color: #999999;
}

/*------------------------- 下拉選單 -------------------------*/
/*-- 表單下拉 --*/
/* line 207, ../sass/element.scss */
.o-select__form select {
  background: transparent;
  color: #2A2A2A;
  font-size: 16px;
  line-height: 1.5;
  height: 50px;
  border: none;
  margin: 0;
  padding: 13px 40px 13px 14px;
}
/* line 218, ../sass/element.scss */
.o-select__form .transformSelect {
  position: relative;
}
/* line 220, ../sass/element.scss */
.o-select__form .transformSelect li {
  height: 50px;
  list-style: none;
  position: relative;
  border-bottom: #CCCCCC 1px solid;
}
/* line 226, ../sass/element.scss */
.o-select__form .transformSelect li span {
  line-height: 1.5;
  display: block;
  height: 50px;
  color: #999999;
  padding: 13px 40px 13px 14px;
  cursor: pointer;
}
/* line 233, ../sass/element.scss */
.o-select__form .transformSelect li span:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 17px;
  right: 14px;
  background-image: url(../images/icon/arrow/black/down.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
}
/* line 249, ../sass/element.scss */
.o-select__form .transformSelect li ul {
  position: absolute;
  margin-top: -1px;
  left: -1px;
  width: 100%;
  border-right: #2A2A2A 1px solid;
  border-bottom: #2A2A2A 1px solid;
  border-left: #2A2A2A 1px solid;
}
/* line 257, ../sass/element.scss */
.o-select__form .transformSelect li ul li {
  border: none;
}
/* line 259, ../sass/element.scss */
.o-select__form .transformSelect li ul li span {
  background: #FFFFFF;
  padding: 13px 14px;
  color: #2A2A2A;
}
/* line 263, ../sass/element.scss */
.o-select__form .transformSelect li ul li span:after {
  display: none;
}
/* line 266, ../sass/element.scss */
.o-select__form .transformSelect li ul li span:hover {
  background: #2A2A2A;
  color: #FFFFFF;
}
/* line 275, ../sass/element.scss */
.o-select__form .transformSelect li.open span:after {
  background-image: url(../images/icon/arrow/black/up.png);
}
/* line 279, ../sass/element.scss */
.o-select__form .transformSelect li.open ul {
  border-top: #2A2A2A 1px solid;
}
/* line 282, ../sass/element.scss */
.o-select__form .transformSelect li.open ul li span {
  border: none;
}
/* line 290, ../sass/element.scss */
.o-select__form .transformSelect .changeColor span {
  color: #2A2A2A;
}
/* line 296, ../sass/element.scss */
.o-select__form .transformSelect .changeColor ul li span:hover {
  color: #FFFFFF;
}
/* line 306, ../sass/element.scss */
.o-select__form.error .transformSelect li {
  border-bottom: #D0021B 1px solid;
}
/* line 308, ../sass/element.scss */
.o-select__form.error .transformSelect li span {
  color: #D0021B;
}
/* line 310, ../sass/element.scss */
.o-select__form.error .transformSelect li span:after {
  background-image: url(../images/icon/arrow/red/down.png);
}
/* line 316, ../sass/element.scss */
.o-select__form.error .transformSelect li ul li span {
  color: #2A2A2A;
  border: none;
}

/*------------------------- 按鈕 -------------------------*/
/* line 330, ../sass/element.scss */
button {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  border: none;
  cursor: pointer;
}

/* line 341, ../sass/element.scss */
button:focus {
  outline: none;
}

/* line 346, ../sass/element.scss */
.c-button {
  margin-bottom: 10px;
  text-align: center;
}
/* line 350, ../sass/element.scss */
.c-button__large {
  padding: 18px 20px;
}
/* line 354, ../sass/element.scss */
.c-button__main {
  background: #2A2A2A;
  color: #FFFFFF;
}
/* line 359, ../sass/element.scss */
.c-button__sec {
  background: #EEEEEE;
  color: #444444;
}
/* line 367, ../sass/element.scss */
.c-button__column--two {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
}

/*-- 與訂單有關的資料欄位組件，可以用在 payment，以及 oder deatil --*/
/* line 388, ../sass/element.scss */
.c-order__PD {
  overflow: hidden;
}
/* line 390, ../sass/element.scss */
.c-order__PD--img {
  width: 80px;
  height: 80px;
  float: left;
}
/* line 395, ../sass/element.scss */
.c-order__PD--info {
  width: calc((100% - 80px) - 10px);
  padding-left: 10px;
  float: left;
}
/* line 400, ../sass/element.scss */
.c-order__PD--name {
  position: relative;
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 405, ../sass/element.scss */
.c-order__PD--name:before {
  position: absolute;
  display: block;
  content: '...';
  right: 0;
  bottom: 0;
  padding-left: 5px;
  background: #FFFFFF;
}
/* line 415, ../sass/element.scss */
.c-order__PD--count {
  width: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
}
/* line 433, ../sass/element.scss */
.c-order__PD--price {
  flex: 1 1 auto;
  color: #999999;
}
/* line 437, ../sass/element.scss */
.c-order__PD--quantity {
  flex: 1 1 auto;
  text-align: right;
  color: #999999;
}
/* line 444, ../sass/element.scss */
.c-order__sum {
  width: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  align-content: flex-start;
  font-weight: bold;
}
/* line 463, ../sass/element.scss */
.c-order__sum--title {
  flex: 1 1 auto;
}
/* line 467, ../sass/element.scss */
.c-order__sum--count {
  flex: 1 1 auto;
  text-align: right;
}
/* line 472, ../sass/element.scss */
.c-order__sum--total {
  flex: 1 1 auto;
  text-align: right;
  color: #A37300;
}

/*-- 小標帶內文 --*/
/* line 482, ../sass/element.scss */
.c-item {
  display: block;
  float: left;
}
/* line 486, ../sass/element.scss */
.c-item__title {
  width: 70px;
}
/* line 489, ../sass/element.scss */
.c-item__detail {
  width: calc(100% - 70px);
  padding-left: 10px;
}

/*-- 固定在畫面的區塊 --*/
/* line 496, ../sass/element.scss */
.o-docking {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
/* line 503, ../sass/element.scss */
.o-docking__bottom {
  background: #FFFFFF;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}
/* line 511, ../sass/element.scss */
.o-docking .c-order__sum {
  padding-bottom: 10px;
  border-bottom: #CCCCCC 1px solid;
}
/* line 518, ../sass/element.scss */
.o-docking .c-button__column--one .c-button__large {
  width: 100%;
}
/* line 523, ../sass/element.scss */
.o-docking .c-button__column--two .c-button__large {
  flex: 1 1 auto;
}

/* line 531, ../sass/element.scss */
.o-error--tex {
  background-color: #FFE7EA;
  position: absolute;
  color: #D0021B;
  font-size: 14px;
  display: block;
  padding: 0 5px;
  left: 14px;
  bottom: -10px;
}
/* line 541, ../sass/element.scss */
.o-error--MSG {
  background-color: #FFE7EA;
  color: #D0021B;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 5px 14px;
  margin-top: 5px;
}

/*-------------------------------------------------------------- mobile --------------------------------------------------------------*/
@media screen and (max-width: 599px) {
  /*------------------------- 按鈕 -------------------------*/
  /* line 558, ../sass/element.scss */
  .c-button__column--one {
    width: 100%;
  }
  /* line 560, ../sass/element.scss */
  .c-button__column--one .c-button__large {
    width: 100%;
  }
  /* line 564, ../sass/element.scss */
  .c-button__column--two {
    width: 100%;
  }
  /* line 566, ../sass/element.scss */
  .c-button__column--two .c-button__large {
    flex: 1 1 auto;
  }
  /* line 568, ../sass/element.scss */
  .c-button__column--two .c-button__large:first-child {
    margin-right: 7px;
  }
  /* line 571, ../sass/element.scss */
  .c-button__column--two .c-button__large:last-child {
    margin-left: 7px;
  }
}
/*-------------------------------------------------------------- tablet --------------------------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*------------------------- 按鈕 -------------------------*/
  /* line 584, ../sass/element.scss */
  .c-button__column--one {
    width: 100%;
  }
  /* line 586, ../sass/element.scss */
  .c-button__column--one .c-button__large {
    width: 220px;
  }
  /* line 590, ../sass/element.scss */
  .c-button__column--two {
    width: 100%;
  }
  /* line 592, ../sass/element.scss */
  .c-button__column--two .c-button__large {
    width: 220px;
  }
  /* line 594, ../sass/element.scss */
  .c-button__column--two .c-button__large:first-child {
    margin-right: 10px;
  }
  /* line 597, ../sass/element.scss */
  .c-button__column--two .c-button__large:last-child {
    margin-left: 10px;
  }
}
/*-------------------------------------------------------------- pc --------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  /*------------------------- 按鈕 -------------------------*/
  /* line 610, ../sass/element.scss */
  .c-button__column--one {
    width: 100%;
  }
  /* line 612, ../sass/element.scss */
  .c-button__column--one .c-button__large {
    width: 220px;
  }
  /* line 616, ../sass/element.scss */
  .c-button__column--two {
    width: 100%;
  }
  /* line 618, ../sass/element.scss */
  .c-button__column--two .c-button__large {
    width: 220px;
  }
  /* line 620, ../sass/element.scss */
  .c-button__column--two .c-button__large:first-child {
    margin-right: 10px;
  }
  /* line 623, ../sass/element.scss */
  .c-button__column--two .c-button__large:last-child {
    margin-left: 10px;
  }
}
