@charset "UTF-8";
/*-- color --*/
/*-- font size --*/
/*-- font line height --*/
/*-- Grids --*/
/*-- border --*/
/*-- box-sizing --*/
/* line 3, ../sass/_extend.scss */
.l-form__content--info span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*-- Clear--*/
/*-- border-radius--*/
/* line 47, ../sass/_extend.scss */
.l-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/*-- display-inline --*/
/*-- 元件 Y軸 位移 --*/
/*-- 陰影 --*/
/*- for docking bottom-*/
/*------------------------- 表單 -------------------------*/
/* line 6, ../sass/form.scss */
.l-form {
  display: block;
  background: #FFFFFF;
  border: #2A2A2A 1px solid;
}
/* line 13, ../sass/form.scss */
.l-form__row:last-child {
  border: none;
}
/* line 16, ../sass/form.scss */
.l-form__row:last-child input[type=text], .l-form__row:last-child [type=password], .l-form__row:last-child [type=email], .l-form__row:last-child [type=tel] {
  border: none;
}
/* line 19, ../sass/form.scss */
.l-form__row:last-child .o-option__btn {
  border: none;
}
/* line 23, ../sass/form.scss */
.l-form__row:last-child .o-select__form li {
  border: none;
}
/* line 29, ../sass/form.scss */
.l-form__row:last-child .l-form__content--info {
  border: none;
}
/* line 36, ../sass/form.scss */
.l-form__content {
  border-right: #CCCCCC 1px solid;
}
/* line 39, ../sass/form.scss */
.l-form__content:last-child {
  border-right: none;
}
/* line 42, ../sass/form.scss */
.l-form__content .o-radio, .l-form__content .o-checkbox {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: #CCCCCC 1px solid;
}
/* line 48, ../sass/form.scss */
.l-form__content .o-radio:last-child, .l-form__content .o-checkbox:last-child {
  border: none;
}
/* line 53, ../sass/form.scss */
.l-form__content--info {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  overflow: hidden;
  font-weight: bold;
  border-right: #CCCCCC 1px solid;
  border-bottom: #CCCCCC 1px solid;
}
/* line 62, ../sass/form.scss */
.l-form__content--info span {
  display: block;
  float: left;
}
/* line 66, ../sass/form.scss */
.l-form__content--info span.info_title {
  width: 70px;
}
/* line 69, ../sass/form.scss */
.l-form__content--info span.info_detail {
  width: calc(100% - 70px);
  padding-left: 10px;
}
/* line 74, ../sass/form.scss */
.l-form__content--info:last-child {
  border-right: none;
}

/*-------------------------------------------------------------- mobile --------------------------------------------------------------*/
@media screen and (max-width: 599px) {
  /*-- 輸入表單 --*/
  /* line 85, ../sass/form.scss */
  .l-form {
    margin-bottom: 30px;
  }
  /* line 91, ../sass/form.scss */
  .l-form__row:last-child .o-select__form li {
    border-bottom: #CCCCCC 1px solid;
  }
  /* line 98, ../sass/form.scss */
  .l-form__content:nth-child(2) {
    border-right: none;
  }
  /* line 101, ../sass/form.scss */
  .l-form__content:last-child {
    border-right: none;
  }
  /* line 104, ../sass/form.scss */
  .l-form__content.col-xl {
    border-right: none;
  }
  /* line 107, ../sass/form.scss */
  .l-form__content.col-xxl {
    border-right: none;
  }
}
/*-------------------------------------------------------------- tablet --------------------------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*-- 輸入表單 --*/
  /* line 118, ../sass/form.scss */
  .l-form {
    margin-bottom: 50px;
  }
}
/*-------------------------------------------------------------- pc --------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  /*-- 輸入表單 --*/
  /* line 127, ../sass/form.scss */
  .l-form {
    margin-bottom: 50px;
  }
  /* line 133, ../sass/form.scss */
  .l-form__row:last-child .o-select__form li {
    border: none;
  }
}
