@charset "UTF-8";
/*-- color --*/
/*-- font size --*/
/*-- font line height --*/
/*-- Grids --*/
/*-- border --*/
/*-- box-sizing --*/
/* line 3, ../sass/_extend.scss */
.l-form__content--info span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*-- Clear--*/
/*-- border-radius--*/
/* line 19, ../sass/_extend.scss */
.l-form__row:first-child .o-select__form li ul li, .l-form__row:last-child .o-select__form li ul li {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 47, ../sass/_extend.scss */
.l-form {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 54, ../sass/_extend.scss */
.l-form__row:first-child .o-select__form li, .l-form__row:last-child .o-select__form li, .l-form.active {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/*-- display-inline --*/
/*-- 元件 Y軸 位移 --*/
/*-- 陰影 --*/
/*- for docking bottom-*/
/*------------------------- 表單 -------------------------*/
/* line 6, ../sass/form.scss */
.l-form {
  display: block;
  background: #FFFFFF;
  border: #2A2A2A 1px solid;
}
/* line 27, ../sass/form.scss */
.l-form__row:last-child {
  border: none;
}
/* line 30, ../sass/form.scss */
.l-form__row:last-child input[type=text], .l-form__row:last-child [type=password], .l-form__row:last-child [type=email], .l-form__row:last-child [type=tel] {
  border: none;
}
/* line 33, ../sass/form.scss */
.l-form__row:last-child .o-option__btn {
  border: none;
}
/* line 37, ../sass/form.scss */
.l-form__row:last-child .o-select__form li {
  border: none;
}
/* line 49, ../sass/form.scss */
.l-form__row:last-child .l-form__content--info {
  border: none;
}
/* line 56, ../sass/form.scss */
.l-form__content {
  border-right: #CCCCCC 1px solid;
}
/* line 59, ../sass/form.scss */
.l-form__content:last-child {
  border-right: none;
}
/* line 62, ../sass/form.scss */
.l-form__content .o-radio, .l-form__content .o-checkbox {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: #CCCCCC 1px solid;
}
/* line 68, ../sass/form.scss */
.l-form__content .o-radio:last-child, .l-form__content .o-checkbox:last-child {
  border: none;
}
/* line 73, ../sass/form.scss */
.l-form__content--info {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  overflow: hidden;
  font-weight: bold;
  border-right: #CCCCCC 1px solid;
  border-bottom: #CCCCCC 1px solid;
}
/* line 82, ../sass/form.scss */
.l-form__content--info span {
  display: block;
  float: left;
}
/* line 86, ../sass/form.scss */
.l-form__content--info span.info_title {
  width: 70px;
}
/* line 89, ../sass/form.scss */
.l-form__content--info span.info_detail {
  width: calc(100% - 70px);
  padding-left: 10px;
}
/* line 94, ../sass/form.scss */
.l-form__content--info:last-child {
  border-right: none;
}

/*-------------------------------------------------------------- mobile --------------------------------------------------------------*/
@media screen and (max-width: 599px) {
  /*-- 輸入表單 --*/
  /* line 110, ../sass/form.scss */
  .l-form {
    margin-bottom: 30px;
  }
  /* line 116, ../sass/form.scss */
  .l-form__row:last-child .o-select__form li {
    border-bottom: #CCCCCC 1px solid;
  }
  /* line 123, ../sass/form.scss */
  .l-form__content:nth-child(2) {
    border-right: none;
  }
  /* line 126, ../sass/form.scss */
  .l-form__content:last-child {
    border-right: none;
  }
  /* line 129, ../sass/form.scss */
  .l-form__content.col-xl {
    border-right: none;
  }
  /* line 132, ../sass/form.scss */
  .l-form__content.col-xxl {
    border-right: none;
  }
}
/*-------------------------------------------------------------- tablet --------------------------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  /*-- 輸入表單 --*/
  /* line 143, ../sass/form.scss */
  .l-form {
    margin-bottom: 50px;
  }
}
/*-------------------------------------------------------------- pc --------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  /*-- 輸入表單 --*/
  /* line 152, ../sass/form.scss */
  .l-form {
    margin-bottom: 50px;
  }
  /* line 158, ../sass/form.scss */
  .l-form__row:last-child .o-select__form li {
    border: none;
  }
}
